@model List<Product>
@{
    ViewData["Title"] = "Listagem de Produtos";
}

<div class="text-center">

    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a style="color: white;" class="btn btn-success" role="button" asp-controller="Products" asp-action="Create">Adicionar novo Produto</a>
    </div>

    <h1 class="display-4">Listagem de Produtos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Valor</th>
                <th scope="col">Disponivel</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Product product in Model)
                {
            <tr>
                <td>@product.Client.Name</td>
                <td>@product.Name</td>
                <td>@product.Value</td>
                <td>@product.Active</td>
                <td>
                    <div class="btn-group" role="group">
                        <a style="color: white;" role="button" class="btn btn-primary" asp-route-id="@product.Id" asp-controller="Products" asp-action="Edit">Editar</a>
                        <a style="color: white;" role="button" class="btn btn-danger" asp-route-id="@product.Id" asp-controller="Products" asp-action="Delete">Apagar</a>
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
